<html class="bg-terminal text-terminal-green-500 text-2xl">
  <head>
    <title>Terminal Adventure</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="min-h-screen p-5 bg-terminal text-terminal-green-500 font-terminal">
    <%= yield %>
  </body>
</html>
