<div class="p-2 my-1 bg-purple-50 border-l-4 border-purple-500 rounded">
  <span class="font-bold text-purple-700"><%= Rack::Utils.escape_html(username) %> [GM]</span>: <%= Rack::Utils.escape_html(message) %>
</div>
