<div class="p-1 my-0.5 <%= is_own ? 'bg-blue-50 rounded' : '' %>">
  <span class="font-bold text-blue-700"><%= Rack::Utils.escape_html(username) %></span>: <%= Rack::Utils.escape_html(message) %>
</div>
