<button type="submit" class="inline-block py-1 px-2 bg-transparent text-terminal-green-500 no-underline border border-3 border-terminal-green-500 text-lg hover:bg-terminal-green-800 hover:text-terminal cursor-pointer"><%= text %></button>
